$comment: #146c2e;

//输出undefined null
$empty-token: #1f1f1f61;
$boolean-token: #0842a0;
$number-token: $boolean-token;
$bigint-token: $comment;

//输出的特殊token，如字符串、Symbol
$special-token: #dc362e;

$object-preview: #717171;

.token {
  margin: .25em 0;
  white-space: pre-wrap;
  font-family: consolas, lucida console, courier new, monospace;
  cursor: default;
  -webkit-user-select: text;
  user-select: text;
  word-break: break-all;
  line-height: 1em;

  pre {
    margin: 0;
    font-family: inherit;
  }

  &:is(.null, .undefined) {
    color: $empty-token;
  }

  &.boolean {
    color: $number-token;
  }

  &.number {
    color: $number-token;
  }

  &.bigint {
    color: $bigint-token;
  }

  &.string {
    color: $special-token;
  }

  &.symbol {
    color: $special-token;
  }

  $icon-margin-right: .2em;

  .icon {
    margin: 0 $icon-margin-right 0 0;
    transition: transform linear .1s;
    transform-origin: 50% 50%;

    &.expanded {
      transform: rotate(90deg);
    }
  }

  &.object {
    display: flex;
    flex-direction: row;

    .icon-container {}

    &>.content {
      display: flex;
      flex-direction: column;

      &>.preview {
        font-style: italic;
        color: $object-preview;
      }

      &>.detail {

        & .prop {
          list-style: none;
          display: flex;
          flex-direction: row;

          &:hover {
            background-color: #f2f2f2;
          }

          .object {
            margin: 0;
          }

          .value-content {
            display: flex;
            flex-direction: column;

            .preview {
              display: flex;
              flex-direction: row;
            }
          }
        }
      }
    }
  }
}