.checkbox {
  display: flex;
  flex-direction: row;
  padding: .4rem 2.4rem;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;  // 兼容 Safari 浏览器

  $checked-color-dark: #005aad;
  $checked-color: #005fba;
  $checked-color-light: #0072dc;

  &:not(:first-child) {
    border-top: 1px solid #e5e5e5;
  }

  &:hover .mark {
    background-color: #f6f6f6;
  }

  &:hover .mark.checked {
    background-color: $checked-color-light;
    border-color: $checked-color-light;
  }

  &:active .mark {
    background-color: #ededed;
  }

  &:active .mark.checked {
    background-color: $checked-color-dark;
    border-color: $checked-color-dark;
  }

  .mark {
    $size: 1.1rem;
    box-sizing: border-box;
    width: $size;
    height: $size;
    border: 2px solid #b3b3b3;
    border-radius: 4px;
    margin-right: .6rem;
    font-size: 0; //防止空格影响布局

    .inner {
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0;

      .line {
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
        transform: rotate(-20deg);
        transform-origin: 45% 75%;
      }
    }

    &.checked {
      background-color: $checked-color;
      border-color: $checked-color;

      .inner {
        opacity: 1;

        .line {
          stroke-dashoffset: 0;
          transform: rotate(0deg);
          transition: stroke-dashoffset cubic-bezier(0.13, 0.81, 0.37, 0.9) 0.3s, transform cubic-bezier(0.22, 1.25, 0.37, 1.52) 0.44s;
        }
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: .9rem;
    }

    .desc {
      font-size: .7rem;
      color: #5e5e5e;
    }
  }
}