.header {
  background-color: #00006812;
  padding: .3rem .45rem;
  box-shadow: 0 0 4px #1212121a;
  -webkit-user-select: none; // 兼容 Safari 浏览器
  user-select: none;
  box-sizing: content-box;
  height: 2rem;
  contain: strict;
  flex: 0 0 auto;

  @media (min-width:40rem) {
    padding: .6rem 3rem;
  }

  @media (min-width:60rem) {
    padding: .6rem 7rem;
  }

  &>.nav {
    contain: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: inherit;

    &>* {
      height: inherit;
      line-height: 2rem;
    }

    &>.logo {
      display: block;
      color: #00b8ff;
      font-family: 'DengXian';
      font-size: 1.2rem;
      padding: 0 .5rem;
      filter: drop-shadow(0 0 .5px #00b8ff);
      transition: filter linear .3s;
      margin-right: min(.6rem, 2.5%);

      &:hover {
        filter: drop-shadow(0 0 4px #00b8ff);
      }
    }

    &>.sectors {
      contain: inherit;
      flex-grow: 1;
      display: flex;
      flex-direction: row;

      &>.sector-link {
        display: block;
        width: 4.5rem;
        text-align: center;
        box-sizing: border-box;
        border-radius: .25rem;
        transition: all ease-out .3s;

        &:not(:last-of-type) {
          margin-right: .4rem;
        }

        &:hover {
          background-color: #00006824;
        }

        &:active {
          border-radius: .75rem;
        }
      }
    }
  }
}