.folder {
  display: flex;
  margin: .2rem .6rem;
  flex-direction: column;
  cursor: default;
  position: relative;
  padding: 1px;
  // border: 1px solid transparent;
  // border-radius: 4.5px;
  overflow: hidden;

  &.nested {
    margin: 0;
    padding: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    content: ' ';
    font-size: 0;
    color: transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4.5px;
    pointer-events: none;
    z-index: 200;
  }

  &>.control-card {
    display: flex;
    -webkit-user-select: none; // 兼容 Safari 浏览器
    user-select: none;
    $control-card-vertical-padding: .75rem;
    $margin-for-desc: .2rem;
    $title-font-size: 1rem;
    $desc-font-size: .7rem;
    padding: $control-card-vertical-padding 1.2rem;
    flex-direction: row;
    justify-content: space-between;
    min-height: $title-font-size+$margin-for-desc+$desc-font-size;
    box-sizing: content-box;
    z-index: 120;

    &:hover {
      background-color: #f9f9f9;
    }

    &:active {
      background-color: #f5f5f5;

      &>.title {
        color: #5d5d5d;
      }
    }

    &.expanded {
      border-bottom: 1px solid #e5e5e5;
    }

    &>.text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &>.title {
        font-size: $title-font-size;
        line-height: $title-font-size;
      }

      &>.desc {
        margin-top: $margin-for-desc;
        font-size: $desc-font-size;
        line-height: $desc-font-size;
        color: #5e5e5e;
      }
    }

    &>.icon {
      display: flex;
      width: 1rem;
      flex-direction: column;
      justify-content: center;
      transition: transform cubic-bezier(0.18, 0.91, 0.2, 1.21) 0.4s;

      &.expanded {
        transform: rotate(180deg);
      }
    }
  }

  &>.content-card {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    position: relative;
    top: -.3rem;
    opacity: .4;
    transition: all .2s ease-out;
    z-index: 110;

    &.expanded {
      opacity: 1;
      top: 0;
      height: unset;
    }
  }
}