ul,
ol {
  margin: 0;
  padding: 0;
}

.bench {

  .value-list {

    .item {
      display: flex;
      flex-direction: row;

      &:not(:last-child) {
        border-bottom: 1px solid #d3e3fd;
      }

      .col-tag {
        -webkit-user-select: none;
        user-select: none;
        min-width: 1.4em;
        padding: 0 .2em;
        height: 1.5em;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        font-family: Consolas;
      }
    }
  }
}