.bench {

  .value-list {

    .item {
      display: flex;
      flex-direction: row;

      &:not(:last-child) {
        border-bottom: 1px solid #d3e3fd;
      }

      .col-tag {
        -webkit-user-select: none;
        user-select: none;
        min-width: 1.4em;
        padding: 0 .2em;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        font-family: Consolas;
        height: 1.6rem;
      }

      .value {
        min-height: 1.6rem;
        line-height: 1.6rem;
        word-break: break-all;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}