.button {
  display: inline-flex;
  border-radius: .2rem;
  border: 1px solid #f1f1f1;
  padding: .2rem .5rem;
  min-width: 3rem;
  justify-content: center;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  background: #fefefe;
  transition: background .15s linear;

  &:hover {
    background: #fafafa;
  }

  &:active {
    background: #f3f3f4;
  }
}